@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

/* Зададим общий стиль страниц */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

/* index.html */

/* Шапка сайта*/
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

/* Левая часть навигации */
.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.page-header-logo {
  margin-left: 70px;
  margin-right: 47px;
}

/* Правая часть навигации */
.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

/* Текст навигации */
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

/* Ссылка в виде кнопки */
.navigation-button {
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

/* Контент по центру */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Надпись по центру */
.main-img {
  display: block;
  margin: 0 auto;
}

/* Множественный фон в блоке */
.main-background {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, 1200px 485px;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  color: #000000;
  background-color: #F2F2F2;
}

/* Преимущества */
.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/* Удаляем отступы у списка */
.advantages-list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-special {
  display: flex;
}

/* Убираем отступ под изображением */
.advantages-item-photo {
  display: block;
}

.advantages-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-special {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-grey {
  width: 400px;
}

.advantages-item-grey:nth-child(odd) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item-grey:nth-child(even) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-grey-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* Сервис */
/* Убираем отступы у сервиса */
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item:nth-child(even) {
background-color: #FFFFFF;
}

.service-item h4 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.service-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Поиск гостиницы */
.search {
  background-color: #FFFFFF;
  text-align: center;
}

.search-interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* Подписка */
.subscription-index {
  background-image: url("../images/background.jpg");
  background-size: 1200px 411px;
  color: #000000;
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.subscription-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Подвал сайта */
.page-footer {
  background-color: #ffffff;
}

/* Обертка подвала */
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 110px;
  margin-left: 72px;
}

.footer-social-list {
  display: flex;
  width: 120px;
  margin-right: 29px;
}

.footer-contact {
  width: 720px;
  margin-left: 240px;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  width: 115px;
  margin-right: 72px;
}

/* catalog.html */

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.inner-background {
  background-image: url(../images/catalog-background.jpg);
  background-size: 1200px 408px;
  background-repeat: no-repeat;
}

.hotels-filter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Хлебные крошки */
.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Выбор гостиниц с фильтрами */
/* Инфраструктура */
.hotels-filter-title {
  width: 150px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-list {
  padding-left: 0px;
}

/* Тип жилья */
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Кнопка - применить */
.button-button-submit {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Кнопка - сбросить */
.button-button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Сортировка гостиниц */
.select-description {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

/* Подробнее */
.button-more {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* В избранное */
.button-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-infavorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

/* Рейтинг */
.rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
}

/* Загрузить еще */
.button-load {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Пагинация */
.hotel-page {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* Подписка каталога */
.subscription-catalog {
  background-size: 1200px 411px;
  color: #000000;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.subscription-catalog-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}