@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

/* Зададим общий стиль страниц */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

/* Скрытие элементов со страницы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* index.html */

/* Шапка сайта*/
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

/* Контент по центру */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

/* Левая часть навигации */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style-type: none;
}

.page-header-logo {
  margin-right: 47px;
}

/* Правая часть навигации */
.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

/* Текст навигации */
.navigation-link-text {
  margin-right: 34px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

/* Наведение на текст */
.navigation-link-text:hover {
  color: #756257;
}

/* Активная */
/* Не понял как сделать */
.navigation-link-text-current::before {
  position: absolute;
  right: 34px;
  bottom: 20px;
  height: 3px;
  background-color: #756257;
  content: "";
}

.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

/* Ссылка в виде кнопки */
.navigation-button {
  display: block;
  width: 160px;
  padding: 9px 15px 8px 15px;
  margin-left: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Наведение */
.navigation-button:hover {
  background-color: #615048;
}

/* Фокус */
.navigation-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

/* Наведение на иконку */
/* Сделал по примеру в демо, не работает (?) */
.navigation-link:hover .navigation-icon {
fill: #756257;
}

/* Надпись по центру */
.main-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Множественный фон в блоке */
.main-background {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, 1200px 485px;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  color: #000000;
  background-color: #F2F2F2;
}

/* Преимущества */
.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/* Удаляем отступы у списка */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-special {
  display: flex;
}

/* Убираем отступ под изображением */
.advantages-item-photo {
  display: block;
}

.advantages-description {
  margin: 0;
  padding: 63px 240px 31px 240px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-title {
  margin: 0;
  padding: 0px 240px 80px 240px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-title {
  margin-top: 97px;
  margin-bottom: 30px;
}

.advantages-item-number {
  margin: 0;
}

.advantages-item-description {
  margin: 30px 90px 87px 90px;
}

.advantages-special {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-grey {
  width: 400px;
}

.advantages-item-grey-number {
  margin: 0;
}

.advantages-item-grey-description {
  margin: 30px 75px 108px 75px;
}

.advantages-item-grey:nth-child(odd) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item-grey:nth-child(even) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-grey-title {
  margin-top: 98px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* Сервис */
/* Убираем отступы у сервиса */
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('../images/icons/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 50% 85px;
/* не понял как задать точное расположение иконки */
}

.service-item:nth-child(2) {
  background-image: url('../images/icons/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 50% 85px;
}

.service-item:nth-child(3) {
  background-image: url('../images/icons/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 50% 85px;
}

.service-item-title {
  margin: 184px 75px 20px 75px;
}

.service-item:nth-child(even) {
background-color: #FFFFFF;
}

.service-item h4 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.service-item-description {
  margin: 0px 75px 79px 75px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Поиск гостиницы */
.search {
  padding-top: 91px;
  padding-bottom: 93px;
  background-color: #FFFFFF;
  text-align: center;
}

.search-interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 29px 240px 56px 240px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 150px 15px 150px;
  border-radius: 10px;
}

/* Наведение */
.button-search:hover {
  background-color: #615048;
}

/* Фокус */
.button-search:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

/* Подписка */
.subscription-index {
  padding: 94px 200px;
  margin: 0;
  background-image: url("../images/background.jpg");
  background-size: 1200px 411px;
  color: #000000;
  background-color: #F2F2F2;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscription-description {
  margin-top: 29px;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-form {
  display: flex;
}

.field {
  width: 600px;
  height: 60px;
  border: 0;
  padding: 0px 0px 0px 22px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subscription-button {
  width: 200px;
  height: 60px;
  margin: 0;
  border: 0;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Плейсхолдер */
/* Наведение */
.field:hover {
  background-color: #E6E6E6;
}
/* Фокус */
.field:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}
/* Ошибка */
.field:active {
  box-shadow: inset 0 0 0 3px #FF5757;
}

/* Состояние для подписаться */
/* Наведение */
.subscription-button:hover {
  background-color: #68A2CA;
}
/* Фокус */
.subscription-button:focus {
  box-shadow: inset 0 0 0 3px #756257;
}

/* Подвал сайта */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  background-color: #ffffff;
  padding-left: 72px;
  padding-right: 72px;
}

.footer-social {
  width: 110px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  margin-top: 49px;
}

.footer-social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

/* Состояние для иконок */
/* Наведение */
/* Сделал по примеру демо, как и в навигации не работает (?) */
.footer-social-button:hover .social-icon {
  fill: #68A2CA;
}
/* Фокус */
.footer-social-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.footer-contact {
  margin: 40px 240px 30px 240px;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* Состояние для контакта */
/* Наведение */
.footer-contact-phone:hover {
color: #756257;
}
/* Фокус */
.footer-contact-phone:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}

/* Состояние для логотипа */
/* Наведение */
/* Также не понял как это работает для изображения (?) */
.footer-contact-logo:hover {
  color: #756257;
}
/* Фокус */
.footer-contakt-logo:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

/* catalog.html */

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.inner-background {
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 35px;
  background-image: url(../images/catalog-background.jpg);
  background-size: 1200px 408px;
  background-repeat: no-repeat;
}

.hotels-filter {
  display: flex;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Хлебные крошки */

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Состояния для хлебных крошек */
/* Для svg не понял, писал как и для главной страницы */
/* Наведение */
.breadcrumbs-link:hover {
  /* в стайлгайде визуально цвет серый, а прописан белый (?) */
  color: #FFFFFF;
}
/* Фокус */
/* Не работает */
.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
}

/* Выбор гостиниц с фильтрами */
/* Инфраструктура */
.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  margin-right: 67px;
  padding: 0;
  margin: 0;
  border: none;
}

.hotels-filter-title {
  width: 150px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-list {
  padding-left: 0px;
  margin: 0;
  list-style-type: none;
}

/* Тип жилья */
.catalog-filter-group {
  /* margin-right: 535px; */
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-item {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Меняем расположение кнопок */
.hotels-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 64px;
}

/* Кнопка - применить */
.button-button-submit {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 160px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Состояния для применить */
/* Наведение */
.button-button-submit:hover {
  background-color: #68A2CA;
}
/* Фокус */
.button-button-submit:focus {
  box-shadow: inset 0 0 0 3px #FFFFFF;
}

/* Кнопка - сбросить */
.button-button-reset {
  padding: 0;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 83px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #11ffee00;
  text-align: center;
}

/* Состояния для сбросить */
/* Наведение */
.button-button-reset:hover {
  /* в стайлгайде визуально цвет серый, а прописан белый (?) */
  color: #FFFFFF;
}
/* Фокус */
.button-button-reset:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  /* при фокусировке получается большая рамка (?) */
}

/* Сортировка гостиниц */

.sorting-container {
  display: flex;
  padding: 44px 72px 53px 72px;
}

.select-control {
  /* не понял, почему данная вкладка в 2 строки (что на нее влияет?) */
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  border: none;
  box-shadow: inset 0 0 0 3px #E6E6E6;
  border-radius: 4px;
}

/* Состояния для сортировки */
/* Наведение */
.select-control:hover {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

/* Фокус */
.select-control:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}


/* Кнопки выбора вида */
.view-selection {
  display: flex;
  margin-left: 81px;
}

.button-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  /* толщину рамки не нашел на макете, подобрал визуально (на макете есть 2рх, но это не похоже на толщину) */
  border: 3px solid #E6E6E6;
  cursor: pointer;
  border-radius: 4px;
}

.button-toggle-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 3px solid #000000;
  border-radius: 4px;
}

/* Состояния для переключателя */
/* Наведение */
.button-toggle:hover {
  box-shadow: inset 0 0 0 3px #83B3D3;
}
/* Фокус */
.button-toggle:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.select-description {
  margin-right: auto;
  padding: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/* Каталог на гридах */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  margin: 0px 72px 30px 72px;
  padding: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

/* Карточки каталога */
.hotel-card {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  margin: 20px;
}

/* Карточки каталога на гридах */
.hotel-card-type-container {
  display: grid;
  grid-template-columns: 137px 137px;
  justify-items: start;
  gap: 16px 26px;
}

/* Звездность отличается, поэтому сделал отдельно и на флексах (для отступа сверху) */
.stars-container {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.stars-four {
  padding: 10px 0;
  width: 92px;
  height: 17px;
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-size: 25px 17px;
  background-position: -4px center;
}

.stars-three {
  padding: 10px 0;
  width: 67px;
  height: 17px;
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-size: 25px 17px;
  background-position: -4px center;
}

.stars-two {
  padding: 10px 0;
  width: 42px;
  height: 17px;
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-size: 25px 17px;
  background-position: -4px center;
}

/* Подробнее */
.button-more {
  padding-top: 9px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 137px;
  border-radius: 4px;
}

/* Состояние для подробнее*/
/* Наведение */
.button-more:hover {
  background-color: #615048;
}
/* Фокус */
.button-more:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

/* В избранное */
.button-favorites {
  padding-top: 9px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 137px;
  border-radius: 4px;
}

/* Состояние для избранное*/
/* Наведение */
.button-favorites:hover {
  background-color: #68A2CA;
}
/* Фокус */
.button-favorites:focus {
  box-shadow: inset 0 0 0 3px #756257;
}

.button-infavorites {
  padding-top: 9px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 137px;
  border-radius: 4px;
}

/* Состояние для в избранном*/
/* Наведение */
.button-infavorites:hover {
  background-color: #6C9E42;
}
/* Фокус */
.button-infavorites:focus {
  box-shadow: inset 0 0 0 3px #756257;
}

/* Рейтинг */
.rating {
  padding-top: 9px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  border-radius: 4px;
}

/* Загрузить еще */
.button-load {
  padding: 17px 290px;
  margin-left: 218px;
  margin-right: 218px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

/* Пагинация */
.pagination-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 60px;
  margin-bottom: 73px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  margin-right: 8px;
  width:55px;
  min-height: 55px;
  padding: 15px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
}

/* Состояния для пагинации */
/* Наведение */
.pagination-link:hover {
  background-color: #68A2CA;
}

/* Фокус */
.pagination-link:focus {
  box-shadow: inset 0 0 0 3px #756257;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-page {
  margin-left: auto;
  /* width: 386px; пока убрал, т.к. вид не соответствует макету*/ 
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.select-number-page {
  width: 160px;
  margin-left: 51px;
  height: 48px;
  border-radius: 4px;
}

/* Подписка каталога */
.subscription-catalog {
  padding: 0px 200px;
  margin: 0;
  background-size: 1200px 411px;
  color: #000000;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 140px;
}

.subscription-catalog-form {
  display: flex;
}

.subscription-catalog-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog-description {
  margin-top: 46px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.catalog-field {
  width: 600px;
  height: 60px;
  border: 0;
  background-color: #F2F2F2;
  padding: 0px 0px 0px 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Плейсхолдер */
/* Наведение */
.catalog-field:hover {
  background-color: #E6E6E6;
}
/* Фокус */
.catalog-field:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}
/* Ошибка */
.catalog-field:active {
  box-shadow: inset 0 0 0 3px #FF5757;
}