@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

/* Зададим общий стиль страниц */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

/* Скрытие элементов со страницы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* index.html */

/* Шапка сайта*/
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

/* Контент по центру */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

/* Левая часть навигации */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style-type: none;
}

.page-header-logo {
  margin-right: 47px;
}

/* Правая часть навигации */
.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

/* Текст навигации */
.navigation-link {
  margin-right: 34px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18px;
  min-height: 18px;
}

/* Ссылка в виде кнопки */
.navigation-button {
  display: block;
  width: 160px;
  padding: 9px 15px 8px 15px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  /* flex-grow: 1; */
}

/* Надпись по центру */
.main-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Множественный фон в блоке */
.main-background {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, 1200px 485px;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  color: #000000;
  background-color: #F2F2F2;
}

/* Преимущества */
.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/* Удаляем отступы у списка */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-special {
  display: flex;
}

/* Убираем отступ под изображением */
.advantages-item-photo {
  display: block;
}

.advantages-description {
  margin: 0;
  padding: 63px 240px 31px 240px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-title {
  margin: 0;
  padding: 0px 240px 80px 240px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-title {
  margin-top: 97px;
  margin-bottom: 30px;
}

.advantages-item-number {
  margin: 0;
}

.advantages-item-description {
  margin: 30px 90px 87px 90px;
}

.advantages-special {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-grey {
  width: 400px;
}

.advantages-item-grey-number {
  margin: 0;
}

.advantages-item-grey-description {
  margin: 30px 75px 108px 75px;
}

.advantages-item-grey:nth-child(odd) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item-grey:nth-child(even) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-grey-title {
  margin-top: 98px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* Сервис */
/* Убираем отступы у сервиса */
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('../images/icons/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 50% 85px;
/* не понял как задать точное расположение иконки */
}

.service-item:nth-child(2) {
  background-image: url('../images/icons/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 50% 85px;
}

.service-item:nth-child(3) {
  background-image: url('../images/icons/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 50% 85px;
}

.service-item-title {
  margin: 184px 75px 20px 75px;
}

.service-item:nth-child(even) {
background-color: #FFFFFF;
}

.service-item h4 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.service-item-description {
  margin: 0px 75px 79px 75px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Поиск гостиницы */
.search {
  padding-top: 91px;
  padding-bottom: 93px;
  background-color: #FFFFFF;
  text-align: center;
}

.search-interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 29px 240px 56px 240px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 150px 15px 150px;
  /* паддинги слева и справа по макету не измерить, поэтому указал примерно */
}

/* Подписка */
.subscription-index {
  padding: 94px 200px;
  background-image: url("../images/background.jpg");
  background-size: 1200px 411px;
  color: #000000;
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.subscription-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscription-description {
  margin-top: 29px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-form {
  display: flex;
}

.field {
  width: 600px;
  height: 60px;
  border: 0;
  padding: 0px 0px 0px 22px;
}

.subscription-button {
  width: 200px;
  height: 60px;
  margin: 0;
  border: 0;
  text-align: center;
}

/* Подвал сайта */
.page-footer {
   display: flex;
  flex-wrap: wrap;
  
  background-color: #ffffff;
  padding-left: 72px;
  padding-right: 72px;
}

.footer-social {
  width: 110px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 120px;
}

.footer-social-item {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  margin-top: 49px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact {
  margin: 40px 240px 30px 240px;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  margin-top: 42px;
}

/* catalog.html */

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.inner-background {
  padding-left: 72px;
  padding-right: 72px;
  background-image: url(../images/catalog-background.jpg);
  background-size: 1200px 408px;
  background-repeat: no-repeat;
}

.hotels-filter {
  display: flex;
}

.inner-header {
  padding-top: 35px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Хлебные крошки */

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Выбор гостиниц с фильтрами */
/* Инфраструктура */
.hotels-filter {
  display: flex;
   margin-top: 45px;
}

.hotels-filter-group {
  margin-right: 67px;
}

.hotels-filter-title {
  width: 150px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-list {
  padding-left: 0px;
  list-style-type: none;
}

/* Тип жилья */
.catalog-filter-group {
  margin-right: 535px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Меняем расположение кнопок */
.hotels-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

/* Кнопка - применить */
.button-button-submit {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Кнопка - сбросить */
.button-button-reset {
  margin-bottom: 83px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Сортировка гостиниц */

.sorting-container {
  display: flex;
  padding: 44px 72px 53px 72px;
  margin-bottom: 53px;
}

.select-description {
  margin-right: 192px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

/* Кнопки выбора вида */
.view-selection {
  display: flex;
  margin-left: 81px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

/* Каталог на гридах */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  margin: 0px 72px 30px 72px;
  padding: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

/* Карточки каталога */
.hotel-card {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  margin: 20px;
}

/* Карточки каталога на гридах */
.hotel-card-type-container {
  display: grid;
  grid-template-columns: 137px 137px;
  justify-items: start;
  gap: 16px 26px;
}

/* Звездность отличается, поэтому сделал отдельно и на флексах (для отступа сверху) */
.stars-container {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

/* Подробнее */
.button-more {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 137px;
}

/* В избранное */
.button-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 137px;
}

.button-infavorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

/* Рейтинг */
.rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
}

/* Загрузить еще */
.button-load {
  padding: 17px 290px;
  margin-left: 218px;
  margin-right: 218px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Пагинация */
.pagination-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 60px;
  margin-bottom: 73px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  margin-right: 8px;
  width:55px;
  min-height: 55px;
  padding: 15px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-page {
  margin-left: auto;
  /* width: 386px; пока убрал, т.к. вид не соответствует макету*/ 
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.select-number-page {
  width: 160px;
  margin-left: 51px;
  height: 48px;
}

/* Подписка каталога */
.subscription-catalog {
  background-size: 1200px 411px;
  color: #000000;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.subscription-catalog-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}