@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

/* Зададим общий стиль страниц */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

/* Скрытие элементов со страницы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* index.html */

/* Шапка сайта*/
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

/* Контент по центру */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

/* Левая часть навигации */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  list-style-type: none;
}

.page-header-logo {
  margin-right: 47px;
}

/* Правая часть навигации */
.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

/* Текст навигации */
.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.navigation-list .navigation-user {
  min-width: 18px;
  min-height: 18px;
}

/* Ссылка в виде кнопки */
.navigation-button {
  display: flex;
  margin-top: 14px;
  margin-bottom: 19px;
  margin-right: 70px;
  padding: 9px 15px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  /* flex-grow: 1; */
}

/* Надпись по центру */
.main-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Множественный фон в блоке */
.main-background {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, 1200px 485px;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  color: #000000;
  background-color: #F2F2F2;
}

/* Преимущества */
.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/* Удаляем отступы у списка */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-special {
  display: flex;
}

/* Убираем отступ под изображением */
.advantages-item-photo {
  display: block;
}

.advantages-description {
  padding: 63px 240px 147px 240px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-title {
  padding: 31px 240px 80px 240px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-title {
  margin-top: 97px;
  margin-bottom: 30px;
}

.advantages-item-number {
  margin: 0;
}

.advantages-item-description {
  margin: 30px 90px 87px 90px;
}

.advantages-special {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-grey {
  width: 400px;
}

.advantages-item-grey-number {
  margin: 0;
}

.advantages-item-grey-description {
  margin: 30px 75px 108px 75px;
}

.advantages-item-grey:nth-child(odd) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item-grey:nth-child(even) {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-grey-title {
  margin-top: 98px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* Сервис */
/* Убираем отступы у сервиса */
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item-title {
  margin: 184px 75px 20px 75px;
}

.service-item:nth-child(even) {
background-color: #FFFFFF;
}

.service-item h4 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.service-item-description {
  margin: 0px 75px 79px 75px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Поиск гостиницы */
.search {
  padding-top: 91px;
  padding-bottom: 93px;
  background-color: #FFFFFF;
  text-align: center;
}

.search-interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 29px 240px 56px 240px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* Подписка */
.subscription-index {
  padding: 94px 200px;
  background-image: url("../images/background.jpg");
  background-size: 1200px 411px;
  color: #000000;
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.subscription-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscription-description {
  margin-top: 29px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Подвал сайта */
.page-footer-container {
   display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding-left: 72px;
  padding-right: 72px;
}

.footer-social {
  width: 110px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 120px;
}

.footer-social-item {
  width: 20px;
  height: 18px;
  margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact {
  margin: 40px 240px 30px 240px;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  padding-top: 42px;
}

/* catalog.html */

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.inner-background {
  padding-left: 72px;
  padding-right: 72px;
  background-image: url(../images/catalog-background.jpg);
  background-size: 1200px 408px;
  background-repeat: no-repeat;
}

.hotels-filter {
  display: flex;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Хлебные крошки */

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Выбор гостиниц с фильтрами */
/* Инфраструктура */
.hotels-filter {
  display: flex;
   margin-top: 45px;
}

.hotels-filter-group {
  margin-right: 67px;
}

.hotels-filter-title {
  width: 150px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-list {
  padding-left: 0px;
  list-style-type: none;
}

/* Тип жилья */
.catalog-filter-group {
  margin-right: 535px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Меняем расположение кнопок */
.hotels-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

/* Кнопка - применить */
.button-button-submit {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Кнопка - сбросить */
.button-button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Сортировка гостиниц */

.sorting-container {
  display: flex;
  padding: 44px 72px 53px 72px;
  margin-bottom: 53px;
}

.select-description {
  margin-right: 192px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

/* Кнопки выбора вида */
.view-selection {
  display: flex;
  margin-left: 81px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.hotel-list {
  list-style-type: none;
  margin: 0px 72px 30px 72px;
  padding: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card {
  margin-right: 18px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

/* Подробнее */
.button-more {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* В избранное */
.button-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-infavorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

/* Рейтинг */
.rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
}

/* Загрузить еще */
.button-load {
  padding: 17px 290px;
  margin-left: 218px;
  margin-right: 218px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Пагинация */
.pagination-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 60px;
  margin-bottom: 73px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  margin-right: 8px;
  width:55px;
  height: 55px;
  /* не понял как отцентровать цифры внутри, по макету паддинги не измерить (в барбершопе отцентровано через паддинги) */
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-page {
  margin-left: 300px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.select-number-page {
  width: 160px;
  height: 48px;
  /* Не понял как прижать сортировку к правому краю до 72рх (для всего контейнера задано же 72рх) */
}

/* Подписка каталога */
.subscription-catalog {
  background-size: 1200px 411px;
  color: #000000;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.subscription-catalog-signature {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}